@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Pacifico&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.main {
  background: radial-gradient(
      circle at 80% 80%,
      rgba(203, 104, 255, 0.4),
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%, rgba(255, 0, 128, 0.2), transparent 60%),
    radial-gradient(circle at 50% 50%, rgba(0, 180, 255, 0.15), transparent 50%),
    #0f0f10;
}

.logo-name {
  font-family: "Pacifico", sans-serif;
  cursor: pointer;
  /* background-color: ; */
}

.grow ul:hover {
  color: #fff;
  text-shadow: 0 0 60px rgb(163, 37, 146);
}

.heading {
  color: aqua;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.281), 0 0 60px aqua;
}

.button-start:hover {
  box-shadow: 0 0 10px 0px rgba(255, 0, 128, 0.2),
    0 0 20px 0 rgba(203, 104, 255, 0.4), 0 0 30px 0 rgba(0, 180, 255, 0.15);
  background-color: #000;
  color: #fff;
  outline: 2px solid #fff;
}

.loader {
  border: 10px solid #fff;
  border-top: 10px solid purple;
}

.output::-webkit-scrollbar {
  display: none;
}

li ul:hover {
  border-bottom: 2px solid #fff;
}

.fade-line {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*loading animation */

.typing-animation {
  font-family: "Pacifico", sans-serif;
}

.typing-animation::after {
  content: "";
  display: inline-block;
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}





















/* Media Querys  */

@media only screen  and (min-width: 200px) and (max-width: 575px){
  .section-main {
    padding: 1rem;
  }
  .heading-name {
    width: 100%;
    font-size: 2.2rem;
    line-height: 2rem;
  }

  .discription{
    width: 100%;
    font-size: 0.7rem;
  }
  .aside {
    width: 100%;
    position: absolute;
    top: 24px; 
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    z-index: 99;
    font-size: 0rem;
    justify-content: space-between;
    align-items: center;
    background-color: #6666;
  }

  .newchat {
    margin-top: 0.5rem;
  }

  .chats {
    margin-top: 3rem;
  }

  .input {
    width: 95%;
  }
}